* {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: "Times New Roman", sans-serif;
}

.maind {
    width: 50%;
    margin: 0 auto;
}

a:hover {
    color: #059862;
}

.listm {
    font-size: 2.25rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-style:italic;
}

h2 {
    font-size: 2.25rem;
}

li::marker {
    color: #FF6F61;
}